[flake8]
ignore = E203, E266, E501, W503, F403, C901, E402
max-line-length = 88
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude =
    src/errors/__init__.py,
    src/controllers/__init__.py,
    src/models/__init__.py,
    src/repositories/__init__.py,
    src/connectors/__init__.py,
    src/schemas/__init__.py
